body {
    font-family: sans-serif;
    text-align: center;
    background-color: black;
    overflow: hidden;
}

#space-invaders-logo {
    max-width: 400px;
    padding: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#start-button,
#instruction-button {
    display: block;
    color: white;
    font-size: 30px;
    padding: 10px;
}

#start-button:hover,
#instruction-button:hover {
    color: yellow;
}

/* Stijl voor de instructiepop-up */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}

.instruction-content {
    background-color: #fff;
    padding: 20px;
    max-width: 400px;
}

#main-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

/* game.php */

#speelveld {
    background-color: #000;
    border: 1px solid #fff;
    padding: 30px;
  }

#scoreboard {
    margin-top: -50px;
    color: white;
}
  